{% extends 'paragraph.html.twig' %}


{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <figure lang="{{ content.field_media_mention_language.0 }}">
        <blockquote>
          {{ content|without('field_media_mention_source_name', 'field_media_mention_link_source', 'field_media_mention_language') }}
        </blockquote>
          <figcaption>
            {% if content.field_media_mention_link_source|render is not empty %}
              <a href="{{ content.field_media_mention_link_source.0['#url'] }}">
            {% endif %}
                {{ content.field_media_mention_source_name.0 }}
              </a>
          </figcaption>
      </figure>
    {% endblock %}
  </div>
{% endblock paragraph %}

