{%
  set title_classes = [
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}


  {% if multiple %}
    <div {{ swiffy_slider_attributes }}>
      {% if label_hidden is empty %}
        <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
      {% endif %}
      <ul{{ attributes.addClass('slider-container') }}>
        {% for item in items %}
          <li{{ item.attributes }}>{{ item.content }}</li>
        {% endfor %}
      </ul>
      <button type="button" class="slider-nav" aria-label="{{ 'Go to previous'|t }}"></button>
      <button type="button" class="slider-nav slider-nav-next" aria-label="{{ 'Go to next'|t }}"></button>
      <div class="slider-indicators">
        {% for item in items %}
          <button {% if loop.index0 == 0 %}class="active" {% endif %} aria-label="{{'Go to slide'|t }}"></button>
        {% endfor %}
      </div>
    </div>
  {% else %}
    {% if label_hidden is empty %}
      <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% endif %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}

