{#
/**
 * @ingroup themeable
 */
#}
{% for platform in platforms %}
  <div class="field__item field-social field-{{ platform.id }}">
    <a class="social-media-link" href="{{ platform.url }}" {{ platform.attributes }} >
      <i class="fab fa-{{ platform.id }}" aria-hidden="true"></i><span class="platform-url">{{ platform.url }}</span><span class="platform-name">{{ platform.name }}</span>
    </a>
  </div>
{% endfor %}
